{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Tasker | Login </title>
{% endblock %}

{% block content %}

<div class="container-fluid bg-dark">
    <div class="fixed-top ">

        {% include 'messages.html' %}
    </div>
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="{% url 'index' %}" class="">
                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Tasker</h3>
                        </a>
                        <h3>Login</h3>
                    </div>
                    <form action="{% url 'login' %}" method="post">

                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="username" id="floatingInput"
                                placeholder="User Name">
                            <label for="floatingInput">UserName</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" name="password" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                        <p class="text-center mb-0">Don't have an Account? <a href="{% url 'register' %}">Sign Up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}